* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 1000vh;
    display: flex;
    flex-direction: column;
    
}

.background {
    display: flex;
    background-color: #1f2937;
    height: 400px;
    flex-direction: column;
    
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.flex-header, .hero-bottom {
    margin: 10px 320px 60px 320px;
}

.header-logo {
    font-size:24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-bottom {
    display: flex;
    width: auto;
    justify-content: space-between;
    gap: 60px;
}

.hero-right {
    width: 400px;
    height: 200px;

}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-left {
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 200px;
    color: #f9faf8;

}


.hero-button {
    background-color: #3882f6;
    border: solid #3882f6;
    color: #f9faf8;
    text-align: center;
    width: 80px;
    padding: 4px;
    border-radius: 5px;
    margin-top: 5px;
}

.top-middle {
    text-align: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.img-middle {
    border: 10px solid red;
    margin-top: 100px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.box-subtext {
    width: 150px;
    margin-bottom: 80px;
   
}

.middle-title {
    margin-top: 60px;
}

.bottom-middle {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
    
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}
.main-quote, 
.quote-author {
    width: 600px;
    
    
}

.main-quote {
    font-size: 36px;
    color: #1f2937;
}

.bottom-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 800px;
    padding: 0 80px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    
}

.call-to-action {
    text-align: left;
    
}

.bottom-button {
    border-radius: 5px;
    border:#e5e7eb solid 2px;
    width: 80px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 3px;
}

.landing-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color:#e5e7eb;
    background-color: #1f2937;
}
