* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
}

.background {
    display: flex;
    background-color: #1f2937;
    height: 350px;
    display: flex;
    flex-direction: column;
    
    
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 80px;
    
}

.header-logo {
    font-size:24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1000px;
    margin: auto 80px;
    
}

.hero-right {
    width: 400px;
    height: 200px;

}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-left {
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 200px;
    color: #f9faf8;

}


button {
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    width: 70px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 5px;
}

.top-middle {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
}